@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");
@import "tailwindcss";

:root {
  --key: 11 17 54;
  --background: 255 255 255;
}
@media (prefers-color-scheme: dark) {
  :root {
    --key: 255 255 255;
    --background: 33 35 40;
  }
}


@theme inline {
  --font-wanted: "Wanted Sans Variable", "Wanted Sans", -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  --color-key: rgb(var(--key));
  --color-background: rgb(var(--background));
}

html {
  /* font-size: min(1.2vw) !important; */
}

@layer components {
  .loading-background {
    background: linear-gradient(270deg, rgba(key 20), rgba(key 5), rgba(key 20));
    background-size: 600% 600%;
    animation: shimmer 2s ease infinite;
  }

  @keyframes shimmer {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  * {
    @apply font-wanted font-medium text-key text-start;
  }

  .button {
    @apply bg-key/5 hover:bg-key/10 active:bg-key/20 transition-all duration-300 ease-out cursor-pointer;
  }
  .button-scale {
    @apply hover:bg-key/10 rounded-lg p-2 -m-2 active:scale-90 transition-all duration-300 ease-out cursor-pointer;
  }
  .button-only-scale {
    @apply hover:bg-key/10 active:scale-90 transition-all duration-300 ease-out cursor-pointer;
  }
  .button-real-only-scale {
    @apply transition-all active:scale-90 duration-300 ease-out cursor-pointer;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
